@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 25, 20, 20;
    --spotifygreen: #1DB954;
}

/*
@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-rgb: 255, 255, 255;
    }
}
*/

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-size: 20px;
}

.spotifygreen {
    background-color: #1DB954;
    color: white;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
